/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* -------------
top banner style
-------------- */
.top-banner {

    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 30px;
    width: 100%;

}

.banner-item1 {
    margin-left: 106px;
}

.banner-item1,
.banner-item2 {
    width: 50%;
}

.banner-item2 img {
    height: 100%;
    width: 100%;
}

.banner-item1 h1 {
    font-family: poppins;
    font-weight: 700;
    font-size: 4.5vw;
}

.banner-item p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1vw;
}

.button1 {
    width: 187px;
    height: 56px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 5px 25px;

}

.fa-greater-than {
    margin-left: 10px;
}

/* --------------------------------------------------------------
                                    button style
------------------------------------------------------------------ */
.section-blog-button {

    display: flex;
    margin-top: 130px;
    width: 100%;


}

.button-container {
    width: 312px;
    max-width: 312px;
    min-width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.button-container button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}



.Match-button,
.group-button,
.blog-button {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    border: none;
}

.blog-button {
    background-color: #DD0000;
    color: white;
}

.group-button {
    margin-top: 30px;
    margin-bottom: 30px;

}


/* ---------------------------------------------------
                        article section style
------------------------------------------------------------ */

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
    margin-right: 30px;
}

.article {
    border: 1px solid lightgray;
    border-radius: 10px;

}

.article-thumbnail img {
    width: 100%;

}

.button-div {
    margin: 20px;

}

.transfer-button {
    width: 100px;
    height: 32px;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

.article-detail {
    margin: 0 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
}

.article-info {
    display: flex;
    align-items: center;

}

.article-info span {
    margin-right: 40px;
}


.article-info p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.fa-clock,
.fa-message {
    margin: 0 10px;
}

/* -------------------------------------------------------
footer style
-------------------------------------------------------- */

footer {
    width: 100%;
    min-height: 500px;
    background-color: black;
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: white;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
}

footer p {
    color: #B9B9B9;
    font-family: poppins;
    font-weight: 500;

}

.footer-para {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* --------------------------------------------------------
media query

mobile responsive
------------------------------------------------------ */
@media only screen and (max-width: 768px) {
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    .banner-item2 img {
        margin-left: 100px;
        margin-top: 20px;
        height: 80%;
        width: 100%;
    }

    .section-blog-button,
    .article-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-left: 90px;
        background-color: white;
    }

    .three-buttons {
        text-align: center;
    }

    .Match-button {
        width: 320px;
        height: 64px;
        font-size: 30px;
    }


    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .footer-para {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ------------------------------
tab responsiv
-----------  */